body {
  padding: 0px;
  margin: 0px;
  background-color: #fffff3;
  font-family: 'Open Sans';
  overflow-x: hidden;
}

text {
  font: 21px sans-serif;
}

.circle-image {
  border-radius: '50%';
  background-color: pink;
}

.node text {
  pointer-events: none;
  font: 12px sans-serif;
}

circle.fixed {
  fill: #f0f0f0;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  text-align: left;
  border: 0.5px solid lightgrey;
  padding: 5px;
  font: 14px sans-serif;
  background: white;
  border-radius: 4px;
  pointer-events: none;
  width: auto;
  height: auto;
}
