html,
body {
  height: 95%;
  margin: 0;
  padding: 0;
}
#map {
  width: 100vw;
  height: 93vh;
}
.leaflet-bottom.leaflet-left {
  width: 100%;
}
.leaflet-control-container .leaflet-timeline-controls {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
}
